[main]
Description=
Host=38.122.0.58
AuthType=1
GroupName=LATA-BigByte
GroupPwd=
enc_GroupPwd=F26A295086D05A75911270D1295AD6D198A62154AA86C2C713A15A993247E448C61F89B811D3DC60345874796C7BA51BE8DEA580410ECB2F
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=
ISPCommand=
Username=lata
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
